In [20]:
import pandas as pd
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

In [21]:
dir(diabetes)

['DESCR',
 'data',
 'data_filename',
 'data_module',
 'feature_names',
 'frame',
 'target',
 'target_filename']

In [46]:
diabetes.feature_names, diabetes.data_filename, diabetes.target[:5], diabetes.target_filename

(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'],
 'diabetes_data_raw.csv.gz',
 array([151.,  75., 141., 206., 135.]),
 'diabetes_target.csv.gz')

In [47]:
df = pd.DataFrame(diabetes.data , columns = diabetes.feature_names )
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [54]:
df['target'] = diabetes.target
df.head(150)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
145,-0.041840,-0.044642,0.128521,0.063187,-0.033216,-0.032629,0.011824,-0.039493,-0.015999,-0.050783,259.0
146,-0.030942,0.050680,0.059541,0.001215,0.012191,0.031567,-0.043401,0.034309,0.014821,0.007207,178.0
147,-0.056370,-0.044642,0.092953,-0.019442,0.014942,0.023425,-0.028674,0.025453,0.026061,0.040343,128.0
148,-0.060003,0.050680,0.015350,-0.019442,0.036958,0.048164,0.019187,-0.002592,-0.030748,-0.001078,96.0
149,-0.049105,0.050680,-0.005128,-0.046985,-0.020832,-0.020416,-0.069172,0.071210,0.061238,-0.038357,126.0

In [49]:
x = df.drop('target', axis = 'columns')
x.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [55]:
df['target'] = df['target'].replace(
    to_replace=[df[df.target >= 100], df[df.target <= 100]], 
    value=['1', '0'])
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,1
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,1
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,1
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,1

In [56]:
y = df.target
y.head()

0    1
1    0
2    1
3    1
4    1
Name: target, dtype: object

In [57]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size = 0.80)

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

logmodel = LogisticRegression(solver = 'liblinear', max_iter =300)
linmodel = LinearRegression()
treemodel = DecisionTreeClassifier()
svmmodel = SVC(kernel='linear')
rfmodel = RandomForestClassifier(n_estimators = 10)

logmodel.fit(x_train,y_train)
linmodel.fit(x_train,y_train)
treemodel.fit(x_train,y_train)
svmmodel.fit(x_train,y_train)
rfmodel.fit(x_train,y_train)

print('logistic model score: ', logmodel.score(x_test,y_test))
print('linear model score: ', linmodel.score(x_test,y_test))
print('Decisiontree model score: ', treemodel.score(x_test,y_test))
print('svm model score: ', svmmodel.score(x_test,y_test))
print('random forest model score: ', rfmodel.score(x_test,y_test))

logistic model score:  0.6292134831460674
linear model score:  0.2810018667208891
Decisiontree model score:  0.6741573033707865
svm model score:  0.6067415730337079
random forest model score:  0.7415730337078652